# Importer les librairies

In [2]:
import pandas as pd 
# IMPORTER LES LIBRAIRIES NECESSAIRES A L'ETUDE

# Importer les donn√©es

In [4]:
data = pd.read_csv("Data/titanic.csv")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Questions

## 1. Pr√©paration des donn√©es

Remplissez la function `preprocess` ci-dessus. Celle-ci doit:
1. Supprimez les colonnes `PassengerId`, `Name`, `Ticket`, `Cabin`.
2. Supprimez les lignes contenant au moins une valeur manquante.
3. Cr√©er une variable `FamilySize` qui est correspond √† `SibSp` + `Parch` + 1. Supprimez les variables `SibSp` et `Parch`.
4. Recalculer le prix du billet `Fare` en divisant `Fare` par `FamilySize`.
5. Encoder les variables qualitatives `Sex`, `Embarked` avec l'argument `drop_first=True`.

In [5]:
import pandas as pd

def preprocess(data: pd.DataFrame) -> pd.DataFrame:
    """La fonction pr√©pare les donn√©es √† l'analyse.
    
    Args:
        data (pd.DataFrame): La dataframe originale
        
    Returns:
        pd.DataFrame: La dataframe preprocess√©e et pr√™te √† √™tre analys√©e.
    """
    
    # Faire une copie de la dataframe originale
    data_preprocessed = data.copy()
    
    # Supprimez les variables `PassengerId`, `Name`, `Ticket` & `Cabin`
    data_preprocessed.drop(columns=["PassengerId", "Name", "Ticket", "Cabin"], inplace=True)

    # Supprimez les lignes contenant au moins une valeur manquante
    data_preprocessed.dropna(inplace=True)

    # Cr√©er une variable `FamilySize` et supprimer les variables `SibSp` et `Parch`
    data_preprocessed["FamilySize"] = data_preprocessed["SibSp"] + data_preprocessed["Parch"] + 1
    data_preprocessed.drop(columns=["SibSp", "Parch"], inplace=True)

    # Recalculer le prix du billet en divisant par `FamilySize`
    data_preprocessed["Fare"] = data_preprocessed["Fare"] / data_preprocessed["FamilySize"]

    # Encode (OHE) `Sex` & `Embarked`
    data_preprocessed = pd.get_dummies(data_preprocessed, columns=["Sex", "Embarked"], drop_first=True)

    # R√©initialiser l'index apr√®s suppression de valeurs manquantes
    data_preprocessed.reset_index(drop=True, inplace=True)

    # CHECK: NE PAS TOUCHER
    for col in ["PassengerId", "Name", "Ticket", "Cabin", "SibSp", "Parch"]:
        assert col not in data_preprocessed, f"{col} n'a pas √©t√© retir√©."
    assert data_preprocessed.isna().sum().sum() == 0, "Il reste encore des NaN √† supprimer."
    assert "FamilySize" in data_preprocessed.columns, "La colonne `FamilySize` n'a pas √©t√© cr√©√©e."
    assert data_preprocessed.loc[0, "Fare"] == 3.625, "La colonne `Fare` n'a pas √©t√© recalcul√©e."
    for col in [col for col in data_preprocessed if col.startswith("Embarked")]:
        assert data_preprocessed[col].nunique() == 2, f"{col} n'a pas √©t√© encod√©."
    for col in [col for col in data_preprocessed if col.startswith("Sex")]:
        assert data_preprocessed[col].nunique() == 2, f"{col} n'a pas √©t√© encod√©."
    
    return data_preprocessed

Le r√©sultat de la function doit vous donner exactement le tableau ci-dessous.

In [6]:
# Preprocess les donn√©es √† l'aide de la function `preprocess`
data_clean = preprocess(data)
display(data_clean)

,Survived,Pclass,Age,Fare,FamilySize,Sex_male,Embarked_Q,Embarked_S
0,0,3,22.0,3.625000,2,True,False,True
1,1,1,38.0,35.641650,2,False,False,False
2,1,3,26.0,7.925000,1,False,False,True
3,1,1,35.0,26.550000,2,False,False,True
4,0,3,35.0,8.050000,1,True,False,True
...,...,...,...,...,...,...,...,...
707,0,3,39.0,4.854167,6,False,True,False
708,0,2,27.0,13.000000,1,True,False,True
709,1,1,19.0,30.000000,1,False,False,True
710,1,1,26.0,30.000000,1,True,False,False
711,0,3,32.0,7.750000,1,True,True,False

## 2. Inf√©rence statistique (4 pts)

**Q1: L'√¢ge moyen des passagers du Titanic est-il le m√™me que l'√¢ge moyen de la population en 1912 (28 ans)?**

**Q2: La survie d√©pend-elle de la classe du passager?**

**Q3: Existe-t-il une diff√©rence d'√¢ge entre les passagers qui ont surv√©cu et les passagers d√©c√©d√©s?**

**Q4: Existe-t-il une relation entre l'√¢ge des passagers et le prix des billets?**

Pour chacune des questions 1 √† 4 ci-dessus, argumenter de mani√®re statistique en effectuant chacune des √©tapes suivantes:
1. Identifier la ou les variables d'int√©r√™t et sp√©cifier le type.
2. R√©aliser une visualisation appropri√©e selon la ou les variables.
3. Enoncer une hypoth√®se nulle et une hypoth√®se alternative consid√©rant la ou les variables identifi√©es.
4. Identifier le test statistique appropri√© selon les hypoth√®ses √©nonc√©es.
5. V√©rifier la validation des assumptions selon le test identifi√©.
6. Calculer la statistique ainsi que la p-valeur.
7. Prendre une d√©cision √† partir de la p-valeur et d'un seuil alpha de 5%.
8. Interpr√©ter le r√©sultat et √©valuer la taille de l'effet.

Quelques liens utiles pour la taille de l'effet:
* [https://rpsychologist.com/cohend/](https://rpsychologist.com/cohend/)
* [https://datatab.net/tutorial/effect-size-independent-t-test](https://datatab.net/tutorial/effect-size-independent-t-test)
* [https://www.simplypsychology.org/effect-size.html](https://www.simplypsychology.org/effect-size.html)

## 3. Data mining (2 pts)

**Q1: Effectuer une analyse statistique √† l'aide de la r√©gression logistique avec comme variable d√©pendente la variable `Survived`. Interpr√©ter les coefficients et discuter de leur importance statistique en vous appuyant sur leur p-valeur.**

**Q2: Effecter une analyse statistique √† l'aide d'un arbre de classification avec comme variable d√©pendente la variable `Survived` et une profondeur maximale de 4. Visualiser l'arbre et expliquer quelques d√©cisions.**

**Conclusion: Interpr√©ter les r√©sultats des deux analyses statistiques et r√©sumer les points importants de votre √©tude.**